//article-block.scss
.article-block {
  height: 20em;
  width: 100%;
  padding: 1em;
  margin: 0.5em;
  float: left;
  background: linear-gradient(red, transparent);
  color:white;
  &:hover {
    background: red;
  }
    .post-date {
      float: right;
    }
    .post-date,
    .category {
      margin: 0;
      font-size: .90em;
    }
  h1 {
      margin: 0;
      font-size: 1.85em;
      line-height: 1em;
  }
  img {
    z-index: -10;
    max-width: none;
  }
  &.block-small {
    width: 25%;
  }
  &.block-medium {
    width: 34%;
  }
  &.block-large {
    width: 45%;
}
}
