// globals.scss

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $white;
  font-family: $font-stack;
  color: $black;
  max-width: 1200 / 16 * 1em;
  margin: 4em auto;
  padding: 0em 2em;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: $black;
    padding: 0.2em 0;
}

img {
  max-width: 100%;
}

.container {
  @include clearfix;
}

.older-posts  {
  margin: 0 0 0 .25em;
}

.older-posts a {
  text-decoration: none;
  color: #00f;
}
