.page-header {
  @include clearfix;
  width: 100%;
  position: relative;
  margin-bottom: 3em;
  .utility-logo-group {
    position: absolute;
    width: 30em;
    top: 0;
    right: 0;
  }
  .utility-nav {
    position: absolute;
    top: 0;
    right: 8em;
    width: 29em;
    margin: 0;
    float: left;
  }

  .logo {
    margin: 0 .40em;
    float: right;
  }
  .main-nav {
    margin: 0;
    margin-top: 2.8em;
    float: right;
  }
}
