//variables.scss

//Typeface
$font-stack: "franklin-gothic-urw", sans-serif;

//Colors
$white: #fff;
$black: #333;
$gray-light: #ccc;
$gray-lighter: #eee;
$color-logo-sdo: #ffa200;

//Category Colors
$blue: #0af4fc;
$green: #00ea90;
$yellow: #d6dc00;
$red: #ef0000;
$pink: #ea0094;
$purple: #d33bee;
$grey: #adafb1;
