// main.scss

@import "variables";
@import "mixins";
@import "globals";

// modules
@import "article-block";
@import "blog-title";
@import "categories";
@import "css-module";
@import "main-nav";
@import "logo-mcad";
@import "page-footer";
@import "social-media";
@import "utility-nav";
